<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <appSettings>
     <add key="BaudRate" value="115200"/>
     <add key="Port" value="COM3"/>
     <add key="SqlitePath" value=""/>
	 <add key="EncryptionKey" value="ek_test_f9cws0bU9700VqWE4UDuBlKLbvX4IO" />
	 <add key="ApiKey" value="ak_test_NQEfPH4ktp7c9Zb0bpi1u1XkjpFCTH" />
   </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>