bin
obj
*.userprefs
packages
.vs
*.suo
*.nupkg
*.exe
*.msi
*.dylib
*.dll

PaymentTest/App.config
*.csproj.user
PagarMe.AutomatedTests/App.config

# OSX
.DS_Store
*.orig
ubuntu-service/example-site/web.config
ubuntu-service/service/*
ubuntu-service/build-libabecs/
*.log
