bin
obj
*.userprefs
packages
.vs
*.suo
*.nupkg
*.exe
*.msi
*.dylib
*.dll

PaymentTest/App.config
*.csproj.user
PagarMe.AutomatedTests/App.config

# OSX
.DS_Store
*.orig
docs/example-site/web.config
docs/service/*
docs/build-libabecs/
*.log
