<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <appSettings>
     <add key="BaudRate" value="115200"/>
     <add key="Port" value="COM3"/>
     <add key="SqlitePath" value=""/>
    <add key="DevicePartialName" value="COM" />
	 <add key="EncryptionKey" value="ek_test_f9cws0bU9700VqWE4UDuBlKLbvX4IO" />
	 <add key="ApiKey" value="ak_test_NQEfPH4ktp7c9Zb0bpi1u1XkjpFCTH" />
   </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>